<div class="sharerule-tip">
    <ul class="left">
        <li>悬赏总出资<br/><span><%= tools.accDiv(data.money,100)%>元</span></li>
        <li style="margin-top:30px;">单次奖励金<br/><span><%= tools.accDiv(data.one, 100)%>元<br/>/查看一次</span></li>
    </ul>
    <div class="right">
        <div class="top">满足如下条件，转发/分享此信息的会员可获得奖励金</div>
        <div class="des">
            <ul>
                <li>1-转发/分享信息的会员</li>
                <li style="height:71px;">
                    <table>
                        <tr>
                            <td rowspan="3" style="vertical-align:top"><i class="yuandian"></i>诚信等级：</td>
                              <td>基础资料：<%- share.setStart(data.shdoc)%></td>
                        </tr>
                        <tr>
                            <td>人脉质量：<%- share.setStart(data.shrm)%></td>
                        </tr>
                        <tr>
                            <td>综合能力：<%- share.setStart(data.shzh)%></td>
                        </tr>
                    </table>
                </li>
                <li><i class="yuandian"></i>相互彼此间的人脉关系：
                  <% if(data.shlevel == 1) {%>
                  <span><%= data.shlevel%>级人脉关系</span>
                  <%} else {%>
                     不限
                  <%}%>
                </li>
            </ul>
            <ul>
                <li>2-点击查看信息的人</li>
                <li><i class="yuandian"></i>所属地区：<span><%= data.clarea%></span></li>
            </ul>
        </div>
    </div>
    <label class="jiantou"></label>
</div>
